@use "./colors" as *;

$colors: (
  // key and value
  "dark": $clr--dark,
  "light": $clr--light
);

//INTERPOLATION, PARA MAGAMIT -> example; text--dark
@each $key, $val in $colors {
  //COLORS
  .text {
    &--#{$key} {
      color: $val;
    }
  }
  //BACKGROUND COLOR
  .bg {
    &--#{$key} {
      background-color: $val;
    }
  }
}

//TO USE -> example: t-align--left
$text--align: left, right, center, justify;
@each $val in $text--align {
  .t-align--#{$val} {
    text-align: $val;
  }
}

//DISPLAY
$display: block, inline, inline-block, flex, grid;
@each $val in $display {
  .d--#{$val} {
    display: $val;
  }
}

//POSITION
$position: absolute, relative, static, fixed;
@each $val in position {
  .position--#{val} {
    position: $val;
  }
}

//MARGIN,PADDING
@for $i from 0 through 20 {
  //MARGIN
  .m--#{$i} {
    margin: $i + rem;
  }
  //margin x axis
  .mx--#{i} {
    margin: 0 $i + rem;
  }
  //margin y axis
  .my--#{i} {
    margin: $i + rem 0;
  }
  //margin botton
  .mb--#{$i} {
    margin-bottom: $i + rem;
  }
  //margin top
  .mt--#{$i} {
    margin-top: $i + rem;
  }
  //margin left
  .ml--#{$i} {
    margin-left: $i + rem;
  }
  //margin right
  .mr--#{$i} {
    margin-right: $i + rem;
  }

  //PADDING
  .p--#{$i} {
    padding: $i + rem;
  }
  //padding x axis
  .px--#{$i} {
    padding: 0 $i + rem;
  }
  //padding y axis
  .py--#{$i} {
    padding: $i + rem 0;
  }
  //padding bottom
  .pb--#{$i} {
    padding-bottom: $i + rem;
  }
  //padding top
  .pt--#{$i} {
    padding-top: $i + rem;
  }
  //padding left
  .pl--#{$i} {
    padding-left: $i + rem;
  }
  //padding right
  .pr--#{$i} {
    padding-right: $i + rem;
  }
}
